<div class="message-container">
  <h2>RE: <%= message.item_name %></h2>

  <div class="message-body">
    <div class="message-image">
      <img src=" <%= message.item_image_url %>">
    </div>

    <div class="message-text">
      <p> <%= message.message_text %></p>
    </div>
    <div class="message-info">
      <% if (message.receiver_id === Number(userId)) { %>
          <p>FROM: <%= message.reciever %></p>
        <% } else { %>
          <p>TO: <%= message.reciever %></p>
        <% } %>

      <span> <%= moment(message.sent_at).fromNow() %></span>
    </div>

  </div>
  <div class="message-button-container">
    <a href="/api/items/<%= message.item_id %>/messages" class="message-dialogue-button">View Dialog</a>
  </div>
</div>
