<div class='item-container' data-id="<%= item.id %>">
  <div class='item-header'>

    <span class='item-price'>$<%= item.price / 100 %></span>

    <span><%= moment(item.date_listed).fromNow() %></span>
  </div>
  <div class='item-main'>
    <img src="<%= item.image_url %>">
    <a href="/items/<%= item.id %>"><h3><%= item.name %></h3></a>
  </div>
  <div class='own-item-footer'>



    <% if (!item.is_sold) { %>
      <a class='sell-button'>
        <i class="fas fa-dollar-sign" data-id="<%= item.id %>"></i>
        <span>Mark this item as sold</span>
      </a>

      <a class="delete-button">
        <i class="fas fa-trash-alt" data-id="<%= item.id %>"></i>
        <span>Delete this item</span>
      </a>
    <% } else { %>
      <h2 class="item-sold">SOLD</h2>
    <% } %>
  </div>
</div>
