<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap" rel="stylesheet">

    </head>

  <body>

    <%- include('partials/_header') %>

    <main class="full-item-container">

      <img src="<%= item.image_url %>">

      <div class="full-item-main">
        <div class="item-name">
          <h2><%= item.name %></h2>

          <% if (!item.is_sold) { %>
            <% if (item.seller_id === Number(userId)) { %>
              <div class="full-item-buttons">
                <a class='sell-button'>
                  <i class="fas fa-dollar-sign" data-id="<%= item.id %>"></i>
                  <span>Mark this item as sold</span>
                </a>
                <a class="delete-button">
                  <i class="fas fa-trash-alt" data-id="<%= item.id %>"></i>
                  <span>Delete this item</span>
                </a>
              </div>
            <% } else { %>
            <a class="favourite-button">
              <% if (item.user_id === null) { %>
                <i class="fas fa-star" data-id="<%= item.id %>"></i>
              <% } else { %>
                <i class="fas fa-star yellow" data-id="<%= item.id %>"></i>
              <% } %>
            </a>
            <% } %>
          <% } else { %>
            <h2 class="item-sold">SOLD</h2>
          <% } %>

        </div>

        <h2>Price: $<%= item.price / 100 %></h2>
        <div class="full-item-description">
          <p>
            <%= item.description %>
          </p>
        </div>
        <div class="location-date-container">
          <span>City: <%= item.city %></span>
          <span>Posted: <%= moment(item.date_listed).fromNow() %></span>
          <span>Seller: <%= item.seller_name %></span>
        </div>

        <% if (item.seller_id !== Number(userId) && !item.is_sold) { %>
          <div class="contact-info-container">
            <h2>Contact Seller</h2>
          </div>
          <form class="message-seller-form" item-id="<%= item.id %>" receiver-id="<%= item.seller_id %>">
            <label for="message"></label>
            <textarea placeholder="Message to Seller" name="message" id="message-to-seller" cols="30" rows="4" maxlength="250" required></textarea>
            <button>Send</button>
          </form>
        <% } %>
      </div>

    </main>

    <%- include('partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>

  </body>
</html>
