<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    </head>

  <body>

    <%- include('partials/_header') %>

    <main class="full-item-container">

      <img src="<%= item.image_url %>">

      <div class="full-item-main">
        <div class="item-name">
          <h2><%= item.name %></h2>
          
          <a class="favourite-button">
            <% if (!item.is_sold) { %>
              <% if (item.user_id === null) { %>
                <i class="fas fa-star" data-id="<%= item.id %>"></i>
                <% } else { %>
                <i class="fas fa-star yellow" data-id="<%= item.id %>"></i>
                <% } %>
            <% } else { %>
              <h2 class="item-sold">SOLD</h2>
            <% } %>
            <!-- <i class="fas fa-star" data-id="<%= item.id %>"></i> -->
          </a>
        </div>
        <h2>Price: $<%= item.price / 100 %></h2>
        <div class="full-item-description">
          <p>
            <%= item.description %>
          </p>
        </div>
        <div class="location-date-container">
          <span>City: <%= item.city %></span>
          <span>Posted: 3 days ago</span>
        </div>
        <div class="contact-info-container">
          <span>Seller: <%= item.seller_name %></span>
          <h2>Contact Seller</h2>
        </div>
        <form action="/api/messages" method="POST" class="message-seller-form">
          <label for="message"></label>
          <textarea placeholder="Message to Seller" name="message" id="message-to-seller" cols="30" rows="4" maxlength="250"></textarea>
          <button>Send</button>
        </form>
      </div>
      
    </main>
    

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script> -->
    
  </body>
</html>