<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    </head>

  <body>

    <%- include('partials/_header') %>

    <main class="full-item-container">

      <img src="<%= item.image_url %>">

      <div class="full-item-main">
        <h2><%= item.name %></h2>
        <h2>Price: $<%= item.price / 100 %></h2>
        <div class="full-item-description">
          <p>
            <%= item.description %>
          </p>
        </div>
       
        <span>City: <%= item.city %></span>
        <span>Posted: 3 days ago</span>
      </div>
      
      <div class="full-item-contact">
        <i class="fas fa-star"></i>
        <span>Seller: <%= item.seller_name %></span>
        <h2>Contact Seller</h2>
      </div>
      <form action="/api/messages" method="POST" class="message-seller-form">
        <label for="message"></label>
        <textarea placeholder="Description" name="description" id="item__description" cols="30" rows="10"></textarea>
        <button>Send</button>
        <a id="message-form__cancel" href="#">Cancel</a>
      </form>
    </main>
    

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script> -->
    
  </body>
</html>