<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap" rel="stylesheet">

    </head>

  <body>
    <%- include('partials/_header') %>

    <div class='messages-thread-container'>
      <% let buyer_seller = ''; %>
      <% if (item_seller_id === Number(userId)) { %>
        <h3>Selling: <%= item_name %></h3>
        <% buyer_seller = 'Buyer'; %>
     <% } else { %>
      <h3>Buying: <%= item_name %></h3>
        <% buyer_seller = 'Seller'; %>
     <% } %>
      <form class="message-form" id="thread-message-form">
        <label for="message"></label>
        <input type="hidden" name="item_id" value="<%= item_id %>" id="thread-message-form-item-id">
        <input type="hidden" name="receiver_id" value="<%= receiverToPass %>">
        <textarea placeholder="Message to <%= buyer_seller %>" name="message" id="new-message" cols="30" rows="4" maxlength="250" required></textarea>
        <button type="submit">Send</button>
      </form>
      <div class='only-messages-container'>
        <% for (const message of messages) { %>
          <%- include('partials/_message_inside_thread', { message, userId }) %>
        <% } %>
      </div>

    </div>

    <%- include('partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>

  </body>
</html>
